git+ssh://git@bitbucket.org/cryptofundtrader/common_libraries.git@v0.0.68
APScheduler==3.10.1
asgiref==3.6.0
bcrypt==4.0.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
cryptography==41.0.1
Django==4.2
dnspython==2.3.0
idna==3.4
image==1.5.33
numpy==1.24.3
pandas==2.0.1
paramiko==3.2.0
Pillow==9.5.0
pycparser==2.21
pymongo==4.3.3
PyNaCl==1.5.0
python-dateutil==2.8.2
python-dotenv==0.21.1
pytz==2023.3
requests==2.28.2
schedule==1.1.0
six==1.16.0
sqlparse==0.4.3
tzlocal==5.0.1
urllib3==1.26.14
kombu==5.1.0
redis==4.6.0
